OpenIDM-assembly/openidm-passwordsync/src/password-1.wsdl

<?xml version="1.0" encoding="x-MacCentralEurope"?>
<definitions name="password-1"
    targetNamespace="http://openidm.forgerock.com/xml/ns/public/model/password-1.wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://openidm.forgerock.com/xml/ns/public/model/password-1.wsdl"
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
    xmlns:c="http://openidm.forgerock.com/xml/ns/public/common/common-1.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <documentation>
    </documentation>
    <types>
        <xsd:schema targetNamespace="http://openidm.forgerock.com/xml/ns/public/model/password-1.wsdl"
            xmlns:tns="http://openidm.forgerock.com/xml/ns/public/model/password-1.wsdl"
            xmlns:c="http://openidm.forgerock.com/xml/ns/public/common/common-1.xsd"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
            elementFormDefault="qualified"
            jaxb:extensionBindingPrefixes="xjc"
            jaxb:version="2.0">
            <xsd:import namespace="http://openidm.forgerock.com/xml/ns/public/common/common-1.xsd" schemaLocation="common-1.xsd"/>

            <xsd:complexType name="SelfPasswordChangeRequestType">
                <xsd:sequence>
                    <xsd:element name="newPassword" type="xsd:anyType">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xjc:dom/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="target" type="tns:TargetAccountType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PasswordChangeRequestType">
                <xsd:sequence>
                    <xsd:element name="user" type="c:ObjectReferenceType"/>
                    <xsd:element name="newPassword" type="xsd:anyType">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xjc:dom/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="target" type="tns:TargetAccountType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PasswordChangeResponseType">
                <xsd:complexContent>
                    <xsd:extension base="c:OperationalResultType">
                        <xsd:sequence/>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>

            <!-- Temporal solution to hold the code somewhere -->
            <xsd:complexType name="SynchronizePasswordRequestType">
                <xsd:sequence>
                    <xsd:element name="subject" type="xsd:anyType">
                        <xsd:annotation>
                            <xsd:documentation>
                                javax.jbi.security.subject

                                Due to some WSIT bugs the Mutual Certificates
                                Security can not configured. Alternative solution
                                is the HTTPS and basic authentication. This value
                                contains the UserName and it will contains client
                                certificate later. Each resource has one
                                certificate that can be use for callback operation.
                            </xsd:documentation>
                            <xsd:appinfo>
                                <xjc:dom/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identifier">
                        <xsd:annotation>
                            <xsd:documentation>
                        Any attribute that can be used for correlating the request
                        with a ResourceObjectShadowType.
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:any namespace="##other" maxOccurs="unbounded" processContents="lax">
                                    <xsd:annotation>
                                        <xsd:appinfo>
                                            <xjc:dom/>
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:any>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="password" type="xsd:anyType">
                        <xsd:annotation>
                            <xsd:documentation>
                        Clear-text password the WS-SecureConversation must
                        guaranty the confidentiality
                            </xsd:documentation>
                            <xsd:appinfo>
                                <xjc:dom/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="clientEndpoint" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                        Hostname of the server where the Password Sync plug-in runs.
                        This parameter is used only for logging. The XML Signature
                        guaranties the Authentication.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="endpointName" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                                org.glassfish.openesb.exchange.endpointname
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="messageid" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                                org.glassfish.openesb.messaging.messageid
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="timestamp" type="xsd:long">
                        <xsd:annotation>
                            <xsd:documentation>
                                Password change timestamp. The PasswordSync service
                                uses this timestamp the order the changes in a queue.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="TargetAccountType">
                <xsd:complexContent>
                    <xsd:extension base="c:ObjectReferenceType">
                        <xsd:sequence>
                            <xsd:element name="currentPassword" type="xsd:anyType">
                                <xsd:annotation>
                                    <xsd:appinfo>
                                        <xjc:dom/>
                                    </xsd:appinfo>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="selfPasswordChangeRequest" type="tns:SelfPasswordChangeRequestType"></xsd:element>
            <xsd:element name="passwordChangeRequest" type="tns:PasswordChangeRequestType"></xsd:element>
            <xsd:element name="passwordChangeResponse" type="tns:PasswordChangeResponseType"></xsd:element>
            <xsd:element name="synchronizePasswordRequest" type="tns:SynchronizePasswordRequestType"></xsd:element>
        </xsd:schema>
    </types>
    <message name="selfChangePasswordRequestMessage">
        <part name="body" element="tns:selfPasswordChangeRequest"/>
    </message>
    <message name="changePasswordRequestMessage">
        <part name="body" element="tns:passwordChangeRequest"/>
    </message>
    <message name="synchronizePasswordRequestMessage">
        <part name="body" element="tns:synchronizePasswordRequest"/>
    </message>
    <message name="changePasswordResponseMessage">
        <part name="body" element="tns:passwordChangeResponse"/>
    </message>
    <portType name="passwordPortType">
        <operation name="selfChangePassword">
            <input name="selfChangePasswordRequestInput" message="tns:selfChangePasswordRequestMessage"/>
            <output name="selfChangePasswordRequestOutput" message="tns:changePasswordResponseMessage"/>
        </operation>
        <operation name="changePassword">
            <input name="changePasswordRequestInput" message="tns:changePasswordRequestMessage"/>
            <output name="changePasswordRequestOutput" message="tns:changePasswordResponseMessage"/>
        </operation>
        <operation name="synchronizePassword">
            <input name="synchronizePasswordRequestInput" message="tns:synchronizePasswordRequestMessage"/>
            <output name="synchronizePasswordRequestOutput" message="tns:changePasswordResponseMessage"/>
        </operation>
    </portType>
    <!--binding name="passwordBinding" type="tns:passwordPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="selfChangePassword">
            <soap:operation/>
            <input name="selfChangePasswordRequestInput">
                <soap:body use="literal"/>
            </input>
            <output name="selfChangePasswordRequestOutput">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="changePassword">
            <soap:operation/>
            <input name="changePasswordRequestInput">
                <soap:body use="literal"/>
            </input>
            <output name="changePasswordRequestOutput">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="synchronizePassword">
            <soap:operation/>
            <input name="synchronizePasswordRequestInput">
                <soap:body use="literal"/>
            </input>
            <output name="synchronizePasswordRequestOutput">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding-->
    <plnk:partnerLinkType name="password-1">
        <plnk:role name="passwordPortTypeRole" portType="tns:passwordPortType"/>
    </plnk:partnerLinkType>
</definitions>
