OpenIDM-assembly/openidm-passwordsync/src/passwordSync.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="passwordSync" targetNamespace="http://openidm.forgerock.com/xml/ns/public/provisioning/password-1.wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://openidm.forgerock.com/xml/ns/public/provisioning/password-1.wsdl" xmlns:ns="http://openidm.forgerock.com/xml/ns/public/provisioning/password-1.xsd" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://openidm.forgerock.com/xml/ns/public/provisioning/password-1.xsd"
            xmlns:tns="http://openidm.forgerock.com/xml/ns/public/provisioning/password-1.xsd"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
            elementFormDefault="qualified"
            jaxb:extensionBindingPrefixes="xjc"
            jaxb:version="2.0">
            <xsd:simpleType name="ResponseCodeType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="received">
                        <xsd:annotation>
                            <xsd:documentation>
                        Default response when the synchronisation service received
                        the request, verified the signature and decrypted the password.
                        The request is queued but the plug-in no need to know anything else.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="invalidSignature">
                        <xsd:annotation>
                            <xsd:documentation>
                        The synchronisation service couldn't validate the
                        signature of the source. The request is ignored.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="malformedRequest">
                        <xsd:annotation>
                            <xsd:documentation>
                        The synchronisation service couldn't process the request.
                        Possibly the password decryption failed.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="SynchronizePasswordRequestType">
                <xsd:sequence>
                    <xsd:element name="identifier">
                        <xsd:annotation>
                            <xsd:documentation>
                        Any attribute that can be used for correlating the request
                        with a ResourceObjectShadowType.
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:any namespace="##other" maxOccurs="unbounded" processContents="lax">
                                    <xsd:annotation>
                                        <xsd:appinfo>
                                            <xjc:dom/>
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:any>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="password" type="xsd:anyType">
                        <xsd:annotation>
                            <xsd:documentation>
                        Clear-text password the WS-SecureConversation must
                        guaranty the confidentiality
                            </xsd:documentation>
                            <xsd:appinfo>
                                <xjc:dom/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="clientEndpoint" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                        Hostname of the server where the Password Sync plug-in runs.
                        This parameter is used only for logging. The XML Signature
                        guaranties the Authentication.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="timestamp" type="xsd:long">
                        <xsd:annotation>
                            <xsd:documentation>
                        Password change timestamp. The PasswordSync service
                        uses this timestamp the order the changes in a queue.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SynchronizePasswordResponseType">
                <xsd:sequence>
                    <xsd:element name="result" type="tns:ResponseCodeType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TestRequestType">
                <xsd:sequence>
                    <xsd:element name="password" type="xsd:anyType">
                        <xsd:annotation>
                            <xsd:documentation>
                        Random string to validate the decryption on the server
                        side. The response will contains the decryptedPassword.
                            </xsd:documentation>
                            <xsd:appinfo>
                                <xjc:dom/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="clientEndpoint" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                        Hostname of the server where the Password Sync plug-in runs.
                        This parameter is used only for logging. The XML
                        Signature guaranties the Authentication.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TestResponseType">
                <xsd:sequence>
                    <xsd:element name="resourceName" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                        javax.jbi.security.subject
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="decryptedPassword" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                        Clear-text value of the password from the request.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="result" type="tns:ResponseCodeType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="resourceAccountId" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Distinguished name of the resource account.
                        Example: cn=Full Name,dc=example,dc=com
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="resourceAccountName" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Name of the resource account.
                        Example: UA005633
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="resourceAccountGUID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Object GUID of the user if the resource supports. If it's present
                        then it will override the resourceAccountId.
                        Example: e6b53293ca439345bcf6d152c98015f1
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="synchronizePasswordRequest" type="tns:SynchronizePasswordRequestType"/>
            <xsd:element name="synchronizePasswordResponse" type="tns:SynchronizePasswordResponseType"/>
            <xsd:element name="testRequest" type="tns:TestRequestType"/>
            <xsd:element name="testResponse" type="tns:TestResponseType"/>
        </xsd:schema>
    </types>
    <message name="testRequestMessage">
        <part name="body" element="ns:testRequest"/>
    </message>
    <message name="testResponseMessage">
        <part name="body" element="ns:testResponse"/>
    </message>
    <message name="synchronizePasswordRequestMessage">
        <part name="body" element="ns:synchronizePasswordRequest"/>
    </message>
    <message name="synchronizePasswordResponseMessage">
        <part name="body" element="ns:synchronizePasswordResponse"/>
    </message>
    <portType name="passwordSyncPortType">
        <operation name="test">
            <input name="testRequestInput" message="tns:testRequestMessage"/>
            <output name="testRequestOutput" message="tns:testResponseMessage"/>
        </operation>
        <operation name="synchronizePassword">
            <input name="synchronizePasswordRequestInput" message="tns:synchronizePasswordRequestMessage"/>
            <output name="synchronizePasswordRequestOutput" message="tns:synchronizePasswordResponseMessage"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="passwordSync">
        <plnk:role name="passwordSyncPortTypeRole" portType="tns:passwordSyncPortType"/>
    </plnk:partnerLinkType>
</definitions>







