maven/OpenIDM-xml/OpenIDM-core-model/src/main/resources/provisioning/provisioning.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="provisioning"
    targetNamespace="http://openidm.forgerock.com/xml/ns/provisioning/wsdl/1#"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://openidm.forgerock.com/xml/ns/provisioning/wsdl/1#"
    xmlns:c="http://openidm.forgerock.com/xml/ns/common/1#"
    xmlns:cw="http://openidm.forgerock.com/xml/ns/common/object/wsdl/1#"
    xmlns:idm="http://openidm.forgerock.com/xml/ns/identity/1#"
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

    <documentation>
        Provisioning Service Interface.

        This service retrieves information about resorce objects and resources
        and handles changes to resource objects. Implementations of this
        interface will apply the changes to accounts, groups and other similar
        objects to the target resources.

        This interface is an extension of generic Object Access Interface. However due
        to the WSDL limitations some parts of the definition (e.g. operations)
        are copied&amp;pasted (and extended) instead of re-used.

        Supported object types:
          Resource
          ResourceObjectShadow and all sub-types

        Supported extra data types:
          Resource Objects (Resource Schema)

        It is using an identity XML schema for OpenIDM and OpenIDM common
        schema.

        It is very simple for now. No resource capabilities, etc.

        DRAFT: Very likely to change. Not tested, not even compiled. Just
               passing the validation. Expect a lot of implementation problems.

        TODO: Explain shadows

        TODO: Rationale about provisioing faults
    </documentation>

    <types>
        <xsd:schema targetNamespace="http://openidm.forgerock.com/xml/ns/provisioning/wsdl/1#">

            <xsd:import namespace="http://openidm.forgerock.com/xml/ns/common/1#" schemaLocation="../common/common.xsd"/>
            <xsd:import namespace="http://openidm.forgerock.com/xml/ns/identity/1#" schemaLocation="../repository/identity.xsd"/>

        </xsd:schema>
    </types>

    <!-- Common messages
         Following messages should be in a separate WSDL file and imported here.
         But that does not work on OpenESB. Therefore good old copy&paste
         instead of import -->

        <message name="addObjectRequest">
        <part name="objectContainer" type="c:ObjectContainerType">
            <documentation>
                Container with the Objectto be created.
                OID attribute of the object may be empty.
            </documentation>
        </part>
    </message>
    <message name="addObjectResponse">
        <part name="oid" type="xsd:string">
            <documentation>
                OID assigned to the created object.
            </documentation>
        </part>
    </message>

    <message name="getObjectRequest">
        <part name="oid" type="xsd:string"/>
        <part name="resolve" type="c:PropertyReferenceListType"/>
    </message>
    <message name="getObjectResponse">
        <part name="objectContainer" type="c:ObjectContainerType"/>
    </message>

    <message name="listObjectsRequest">
        <part name="objectType" type="xsd:anyURI">
            <documentation>
                Object type to list.
            </documentation>
        </part>
    </message>
    <message name="listObjectsResponse">
        <part name="objectList" type="c:ObjectListType"/>
    </message>

    <message name="searchObjectsRequest">
        <part name="filter" type="c:FilterType">
            <documentation>
                Search criteria
            </documentation>
        </part>
    </message>
    <message name="searchObjectsResponse">
        <part name="objectList" type="c:ObjectListType"/>
    </message>

    <message name="modifyObjectRequest">
        <part name="objectChange" type="c:ObjectChangeType"/>
    </message>
    <message name="modifyObjectResponse">
    </message>

    <message name="deleteObjectRequest">
        <part name="oid" type="xsd:string"/>
    </message>
    <message name="deleteObjectResponse">
    </message>

    <message name="getPropertyAvailableValuesRequest">
        <part name="oid" type="xsd:string"/>
        <part name="properties" type="c:PropertyReferenceListType"/>
    </message>
    <message name="getPropertyAvailableValuesResponse">
        <part name="propertyAvailableValuesList" type="c:PropertyAvailableValuesListType"/>
    </message>

    <message name="faultMessage">
        <part name="fault" element="c:fault"/>
    </message>

    <!-- End of common messages -->

    <message name="addResourceObjectRequest">
        <part name="object" type="idm:ResourceObjectType">
            <documentation>
                Resource object to be created.
            </documentation>
        </part>
    </message>
    <message name="addResourceObjectResponse">
        <part name="object" type="idm:ResourceObjectType">
            <documentation>
                Created object. May have additional attributes/properties such
                as generated identifiers, operation attributes, etc.
            </documentation>
        </part>
    </message>

    <message name="getResourceObjectRequest">
        <part name="identification" type="idm:ResourceObjectIdentificationType">
            <documentation>
                Set of attributes/properties that identify object on the resource.
                Usually it will be just one attribute, but there can be more.
            </documentation>
        </part>
    </message>
    <message name="getResourceObjectResponse">
        <part name="object" type="idm:ResourceObjectType"/>
    </message>

    <message name="modifyResourceObjectRequest">
        <part name="objectChange" type="c:ObjectChangeType"/>
    </message>
    <message name="modifyResourceObjectResponse">
    </message>

    <message name="deleteResourceObjectRequest">
        <part name="identification" type="idm:ResourceObjectIdentificationType">
            <documentation>
                Set of attributes/properties that identify object on the resource.
                Usually it will be just one attribute, but there can be more.
            </documentation>
        </part>
    </message>
    <message name="deleteResourceObjectResponse">
    </message>

    <portType name="provisioningPortType">

        <operation name="addObject">
            <documentation>
                Add new object.

                The OID provided in the input message may be empty. In that case
                the OID will be assigned by the implementation of this method
                and it will be provided as return value.

                This operation should fail if such object already exists (if
                object with the provided OID already exists).

                The operation may fail if provided OID is in an unusable format
                for the storage. Generating own OIDs and providing them to this
                method is not recommended for normal operation.

                Should be atomic. Should not allow creation of two objects with
                the same OID (even if created in parallel).

                The operation may fail if the object to be created does not
                comform to the underlying schema of the storage system or the
                schema enforced by the implementation.

                Faults:
                  any SystemFaultType
                  ObjectAlreadyExistsFaultType
                  IllegalArgumentFaultType: wrong OID format
                  SchemaViolationFaultType: provided object violates datastore schema
                  ProvisioningFaultType: ???

                Resource Object Shadows:
                Adding new resource object shadow should result in
                appropriate resource object being created on the resource and
                corresponding shadow object being created in local
                repository. Provided resource object must comply with resource
                schema, the operation may fail if it does not.

                Resource:
                Adding a Resource is not trivial. TODO: all the details.
                
            </documentation>
            <input name="addObjectInput" message="tns:addObjectRequest"/>
            <output name="addObjectOutput" message="tns:addObjectResponse"/>
            <fault name="fault" message="tns:faultMessage">
                <documentation>
                    This is all wrong. Specific fault types should be there.
                    But because of Netbeans/JAXWS bug we need to do this ugliness.
                    Please see the list of fault types in operation documentation.
                </documentation>
            </fault>
        </operation>

        <operation name="getObject">
            <documentation>
                    Returns object for provided OID.
                    Must fail if object with the OID does not exists.

                    Reference resolution is SUPPORTED by this interface.

                    Faults:
                      any SystemFaultType
                      IllegalArgumentFaultType: wrong OID format
                      ObjectNotFoundFaultType: object with specified OID does not exists
                      ProvisioningFaultType: ???

                    Resource Object Shadows:
                    The resorce object shadow atributes may be retrieved from
                    the local database, directly form the resource or a
                    combination of both. The retrieval may fail due to resource
                    failure, network failure or similar external cases. The
                    retrieval may also take relatively long time (e.g. until it
                    times out).
            </documentation>
            <input name="getObjectInput" message="tns:getObjectRequest"/>
            <output name="getObjectOutput" message="tns:getObjectResponse"/>
            <fault name="fault" message="tns:faultMessage">
                <documentation>
                    This is all wrong. Specific fault types should be there.
                    But because of Netbeans/JAXWS bug we need to do this ugliness.
                    Please see the list of fault types in operation documentation.
                </documentation>
            </fault>
        </operation>

        <operation name="listObjects">
            <documentation>
                    Returns all objects of specified type that are available
                    to the implementation.

                    Returns empty list if object type is correct but there are
                    no objects of that type.

                    Should fail if object type is wrong.

                    Not very practical, but good for now.
                    Will be improved later.

                    Faults:
                      any SystemFaultType
                      IllegalArgumentFaultType: wrong object type
                      ProvisioningFaultType: ???
            </documentation>
            <input name="listObjectsInput" message="tns:listObjectsRequest"/>
            <output name="listObjectsOutput" message="tns:listObjectsResponse"/>
            <fault name="fault" message="tns:faultMessage">
                <documentation>
                    This is all wrong. Specific fault types should be there.
                    But because of Netbeans/JAXWS bug we need to do this ugliness.
                    Please see the list of fault types in operation documentation.
                </documentation>
            </fault>
        </operation>

        <operation name="searchObjects">
            <documentation>
                    Search for objects. Searches through all
                    object types. Returns a list of objects that match search
                    criteria.

                    Returns empty list if object type is correct but there are
                    no objects of that type.

                    Should fail if object type is wrong. Should fail if unknown property
                    is specified in the query.

                    Faults:
                      any SystemFaultType
                      IllegalArgumentFaultType: wrong object type
                      SchemaViolationFaultType: unknown property used in search query
                      ProvisioningFaultType: ???
            </documentation>
            <input name="searchObjectsInput" message="tns:searchObjectsRequest"/>
            <output name="searchObjectsOutput" message="tns:searchObjectsResponse"/>
            <fault name="fault" message="tns:faultMessage">
                <documentation>
                    This is all wrong. Specific fault types should be there.
                    But because of Netbeans/JAXWS bug we need to do this ugliness.
                    Please see the list of fault types in operation documentation.
                </documentation>
            </fault>
        </operation>

        <operation name="modifyObject">
            <documentation>
                Modifies object using relative change description.
                Must fail if user with provided OID does not exists.
                Must fail if any of the described changes cannot be applied.
                Should be atomic.

                If two or more modify operations are executed in parallel, the
                operations should be merged. In case that the operations are in
                conflict (e.g. one operation adding a value and the other
                removing the same value), the result is not deterministic.

                The operation may fail if the modified object does not
                comform to the underlying schema of the storage system or the
                schema enforced by the implementation.

                TODO: optimistic locking

                Faults:
                      any SystemFaultType
                      ObjectNotFoundFaultType: object with specified OID does not exists
                      IllegalArgumentFaultType: wrong OID format
                      InapplicableOperationFaultType: decribed change is not applicable
                      SchemaViolationFaultType: resulting object would violate datastore schema
                      ProvisioningFaultType: ???
            </documentation>
            <input name="modifyObjectInput" message="tns:modifyObjectRequest"/>
            <output name="modifyObjectOutput" message="tns:modifyObjectResponse"/>
            <fault name="fault" message="tns:faultMessage">
                <documentation>
                    This is all wrong. Specific fault types should be there.
                    But because of Netbeans/JAXWS bug we need to do this ugliness.
                    Please see the list of fault types in operation documentation.
                </documentation>
            </fault>
        </operation>

        <operation name="deleteObject">
            <documentation>
                    Deleted object with provided OID.
                    Must fail if object with specified OID does not exists.
                    Should be atomic.

                Faults:
                      any SystemFaultType
                      ObjectNotFoundFaultType: object with specified OID does not exists
                      IllegalArgumentFaultType: wrong OID format
                      ReferentialIntegrityFaultType
                      ProvisioningFaultType: ???

                Resource Object Shadow:
                Delete specified resource objects. Also deletes all attribute
                values, but does not necesarily deletes objects that this
                object refers to. E.g. deleting an account will cause the delete
                of group that it belongs to.
            </documentation>
            <input name="deleteObjectInput" message="tns:deleteObjectRequest"/>
            <output name="deleteObjectOutput" message="tns:deleteObjectResponse"/>
            <fault name="fault" message="tns:faultMessage">
                <documentation>
                    This is all wrong. Specific fault types should be there.
                    But because of Netbeans/JAXWS bug we need to do this ugliness.
                    Please see the list of fault types in operation documentation.
                </documentation>
            </fault>
        </operation>

        <operation name="getPropertyAvailableValues">
            <documentation>
                Returns list of available values for specified properties.

                The returned values can be used as valid values for properties
                of the specific object. The provided values can be used e.g.
                for listing them in GUI list boxes, for early validation
                (pre-validation), displaying help messages, auto-complete, etc.

                In case the list of available values is too big or it is not
                available, the empty list should be returned, setting the
                "closed" flag to false.

                This optional operation is SUPPORTED by this interface.

                Faults:
                      any SystemFaultType
                      UnsupportedObjectTypeFaultType: specified object type is not supported by the interface
                      ObjectNotFoundFaultType: object with specified OID does not exists
                      IllegalArgumentFaultType: wrong OID format
            </documentation>
            <input name="getPropertyAvailableValuesInput" message="tns:getPropertyAvailableValuesRequest"/>
            <output name="getPropertyAvailableValuesOutput" message="tns:getPropertyAvailableValuesResponse"/>
            <fault name="fault" message="tns:faultMessage">
                <documentation>
                    This is all wrong. Specific fault types should be there.
                    But because of Netbeans/JAXWS bug we need to do this ugliness.
                    Please see the list of fault types in operation documentation.
                </documentation>
            </fault>
        </operation>

        <!-- RESOURCE OBJECT operations
             Following operations do not work with Shadows, they do not even
             work with "Objects" in the identity sense. They work with real
             things on the target resources that are NOT identified by OID. -->

        <operation name="addResourceObject">
            <documentation>
                Adding new resource object. Appropriate resource object should
                be created on the resource as a result of this operation. This
                method does NOT create or update any shadow objects or any
                other business objects in the local repository. It goes directly
                to the resource.

                Provided resource object must comply with resource
                schema, the operation may fail if it does not.
                
                The object has to comply with the resource schema (NOT the
                Identity Schema of OpenIDM system), therefore only very generic
                XML schema of object is used in this operation. The identification
                of the resource object is also not specified here. It is specified
                in annotations in the resource schema.

                This method is not required to implement any form of caching,
                queueing, reference resolution or any other "smart" algorithm.

                Use of this method is not recommended if there is a way how to
                do the same using the standard "object access" methods. E.g.
                if accounts can be namipulated using account shadows, the
                shadows should be used. This method is provided only to support
                the rare case that an unknown resource object type should be 
                used in business logic.

                Should be atomic. Should not allow creation of two objects with
                the same identifier (even if created in parallel).

                Faults:
                  any SystemFaultType
                  ObjectAlreadyExistsFaultType
                  IllegalArgumentFaultType: wrong identifier format or missing identifier
                  SchemaViolationFaultType: provided object violated datastore schema
                  ProvisioningFaultType: ???
            </documentation>
            <input name="addResourceObjectInput" message="tns:addResourceObjectRequest"/>
            <output name="addResourceObjectOutput" message="tns:addResourceObjectResponse"/>
            <fault name="fault" message="tns:faultMessage">
                <documentation>
                    This is all wrong. Specific fault types should be there.
                    But because of Netbeans/JAXWS bug we need to do this ugliness.
                    Please see the list of fault types in operation documentation.
                </documentation>
            </fault>
        </operation>

        <operation name="getResourceObject">
            <documentation>
                Returns resource object.

                This method does NOT use any shadow objects for reference or any
                other business objects in the local repository. It goes directly
                to the resource.

                The returned object complies with the resource schema (NOT the
                Identity Schema of OpenIDM system), therefore only very generic
                XML schema of object is used in this operation.

                The object is identified by whatever identification
                properties/attributes are defined by the resource schema.
                Therefore only a very generic XSD definition of identifier is
                required by this method.

                This method is not required to implement any form of caching,
                queueing, reference resolution or any other "smart" algorithm.

                    Faults:
                      any SystemFaultType
                      IllegalArgumentFaultType: wrong identifier format or missing identifier
                      ObjectNotFoundFaultType: object with specified identifier does not exists
                      ProvisioningFaultType: ???


                Use of this method is not recommended if there is a way how to
                do the same using the standard "object access" methods. E.g.
                if accounts can be namipulated using account shadows, the
                shadows should be used. This method is provided only to support
                the rare case that an unknown resource object type should be
                used in business logic.
            </documentation>
            <input name="getResourceObjectInput" message="tns:getResourceObjectRequest"/>
            <output name="getResourceObjectOutput" message="tns:getResourceObjectResponse"/>
            <fault name="fault" message="tns:faultMessage">
                <documentation>
                    This is all wrong. Specific fault types should be there.
                    But because of Netbeans/JAXWS bug we need to do this ugliness.
                    Please see the list of fault types in operation documentation.
                </documentation>
            </fault>
        </operation>

        <operation name="modifyResourceObject">
            <documentation>
                Modifies resource object using relative change description.

                This method does NOT use any shadow objects for reference or any
                other business objects in the local repository. It goes directly
                to the resource.

                The modified object must comply with the resource schema (NOT the
                Identity Schema of OpenIDM system), therefore only very generic
                XML schema of object is used in this operation.

                The object is identified by whatever identification
                properties/attributes are defined by the resource schema.
                Therefore only a very generic XSD definition of identifier is
                required by this method.

                This method is not required to implement any form of caching,
                queueing, reference resolution or any other "smart" algorithm.

                Faults:
                      any SystemFaultType
                      ObjectNotFoundFaultType: object with specified identifier does not exists
                      IllegalArgumentFaultType: wrong identifier format or missing identifier
                      InapplicableOperationFaultType: decribed change is not applicable
                      SchemaViolationFaultType: resulting object would violate datastore schema
                      ProvisioningFaultType: ???

                Use of this method is not recommended if there is a way how to
                do the same using the standard "object access" methods. E.g.
                if accounts can be namipulated using account shadows, the
                shadows should be used. This method is provided only to support
                the rare case that an unknown resource object type should be
                used in business logic.
            </documentation>
            <input name="modifyResourceObjectInput" message="tns:modifyResourceObjectRequest"/>
            <output name="modifyResourceObjectOutput" message="tns:modifyResourceObjectResponse"/>
            <fault name="fault" message="tns:faultMessage">
                <documentation>
                    This is all wrong. Specific fault types should be there.
                    But because of Netbeans/JAXWS bug we need to do this ugliness.
                    Please see the list of fault types in operation documentation.
                </documentation>
            </fault>
        </operation>

        <operation name="deleteResourceObject">
            <documentation>
                Delete specified resource objects.

                This method does NOT use any shadow objects for reference or any
                other business objects in the local repository. It goes directly
                to the resource.

                The object is identified by whatever identification
                properties/attributes are defined by the resource schema.
                Therefore only a very generic XSD definition of identifier is
                required by this method.

                This method is not required to implement any form of caching,
                queueing, reference resolution or any other "smart" algorithm.

                This operation should fail if the object does not exists.
                Should be atomic.

                Faults:
                      any SystemFaultType
                      ObjectNotFoundFaultType: object with specified identifier does not exists
                      IllegalArgumentFaultType: wrong identifier format or missing identifier
                      ProvisioningFaultType: ???

                Use of this method is not recommended if there is a way how to
                do the same using the standard "object access" methods. E.g.
                if accounts can be namipulated using account shadows, the
                shadows should be used. This method is provided only to support
                the rare case that an unknown resource object type should be
                used in business logic.
            </documentation>
            <input name="deleteResourceObjectInput" message="tns:deleteResourceObjectRequest"/>
            <output name="deleteResourceObjectOutput" message="tns:deleteResourceObjectResponse"/>
            <fault name="fault" message="tns:faultMessage">
                <documentation>
                    This is all wrong. Specific fault types should be there.
                    But because of Netbeans/JAXWS bug we need to do this ugliness.
                    Please see the list of fault types in operation documentation.
                </documentation>
            </fault>
        </operation>

    </portType>
    <plnk:partnerLinkType name="provisioning">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="provisioningPortTypeRole" portType="tns:provisioningPortType"/>
    </plnk:partnerLinkType>
</definitions>

