maven/OpenIDM-xml/OpenIDM-schemas/src/main/resources/META-INF/wsdl/xml/ns/experimental/unix-resource-1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--

Copyright (c) 2010 ForgeRock Inc. All Rights Reserved

The contents of this file are subject to the terms
of the Common Development and Distribution License
(the License). You may not use this file except in
compliance with the License.

You can obtain a copy of the License at
http://www.opensource.org/licenses/cddl1.php or
OpenIDM/legal/CDDLv1.0.txt
See the License for the specific language governing
permission and limitations under the License.

When distributing Covered Code, include this CDDL
Header Notice in each file and include the License file
at OpenIDM/legal/CDDLv1.0.txt.
If applicable, add the following below the CDDL Header,
with the fields enclosed by brackets [] replaced by
your own identifying information:
"Portions Copyrighted 2010 [name of copyright owner]"

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://openidm.forgerock.com/xml/ns/experimental/unix-resource-1.xsd"
    xmlns:tns="http://openidm.forgerock.com/xml/ns/experimental/unix-resource-1.xsd"
    xmlns="http://openidm.forgerock.com/xml/ns/experimental/unix-resource-1.xsd"
    xmlns:r="http://openidm.forgerock.com/xml/ns/public/resource/resource-schema-1.xsd"
    elementFormDefault="qualified">

    <xsd:import namespace="http://openidm.forgerock.com/xml/ns/public/resource/resource-schema-1.xsd" schemaLocation="../public/resource/resource-schema-1.xsd"/>

    <xsd:annotation>
        <xsd:documentation>
            TODO
    
        These definitions are to be considered only examples for now.

     These will hopefuly get cleaned up and aligned
     with existing common terminology and/or connectors.

        </xsd:documentation>
    </xsd:annotation>


    <xsd:element name="gid" type="xsd:string"/>
    <xsd:element name="uid" type="xsd:string"/>
    <xsd:element name="name" type="xsd:string"/>

    <xsd:element name="unixAccount" type="UnixAccountObjectClass"/>

    <xsd:complexType name="UnixAccountObjectClass">
        <xsd:annotation>
            <xsd:appinfo>
                <r:identifier ref="uid"/>
                <r:displayName ref="name"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="r:ResourceObjectClass">
                <xsd:sequence>
                    <xsd:element ref="uid"/>
                    <xsd:element ref="name"/>
                    <xsd:element name="primaryGroup" type="UnixGroupReferenceType"/>
                    <xsd:element name="secondaryGroup" type="UnixGroupReferenceType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="unixGroup" type="UnixGroupObjectClass"/>

    <xsd:complexType name="UnixGroupObjectClass">
        <xsd:annotation>
            <xsd:appinfo>
                <r:identifier ref="gid"/>
                <r:displayName ref="name"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="r:ResourceObjectClass">
                <xsd:sequence>
                    <xsd:element ref="gid">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <readable/>
                                <writable/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="name">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <readable/>
                                <writable/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="UnixGroupReferenceType">
        <xsd:annotation>
            <xsd:appinfo>
                <r:resourceObjectReference>
                    <r:targetObjectClass ref="UnixGroupObjectClass"/>
                </r:resourceObjectReference>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="gid"/>
        </xsd:sequence>
    </xsd:complexType>


</xsd:schema>

