maven/OpenIDM-services/src/wsdl/passwordSync.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="passwordSync" targetNamespace="http://openidm.forgerock.com/xml/ns/public/provisioning/password-1.wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://openidm.forgerock.com/xml/ns/public/provisioning/password-1.wsdl"
    xmlns:ns="http://openidm.forgerock.com/xml/ns/public/provisioning/password-1.xsd"
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service"
    xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:wsaw="http://www.w3.org/2005/08/addressing"
    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
    xmlns:sc="http://schemas.sun.com/2006/03/wss/server"
    xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://openidm.forgerock.com/xml/ns/public/provisioning/password-1.xsd"
            xmlns:tns="http://openidm.forgerock.com/xml/ns/public/provisioning/password-1.xsd"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
            elementFormDefault="qualified"
            jaxb:extensionBindingPrefixes="xjc"
            jaxb:version="2.0">
            <xsd:simpleType name="ResponseCodeType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="received">
                        <xsd:annotation>
                            <xsd:documentation>
                        Default response when the synchronisation service received
                        the request, verified the signature and decrypted the password.
                        The request is queued but the plug-in no need to know anything else.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="invalidSignature">
                        <xsd:annotation>
                            <xsd:documentation>
                        The synchronisation service couldn't validate the
                        signature of the source. The request is ignored.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="malformedRequest">
                        <xsd:annotation>
                            <xsd:documentation>
                        The synchronisation service couldn't process the request.
                        Possibly the password decryption failed.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="SynchronizePasswordRequestType">
                <xsd:sequence>
                    <xsd:element name="identifier">
                        <xsd:annotation>
                            <xsd:documentation>
                        Any attribute that can be used for correlating the request
                        with a ResourceObjectShadowType.
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:any namespace="##other" maxOccurs="unbounded" processContents="lax">
                                    <xsd:annotation>
                                        <xsd:appinfo>
                                            <xjc:dom/>
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:any>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="password" type="xsd:anyType">
                        <xsd:annotation>
                            <xsd:documentation>
                        Clear-text password the WS-SecureConversation must
                        guaranty the confidentiality
                            </xsd:documentation>
                            <xsd:appinfo>
                                <xjc:dom/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="clientEndpoint" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                        Hostname of the server where the Password Sync plug-in runs.
                        This parameter is used only for logging. The XML Signature
                        guaranties the Authentication.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="timestamp" type="xsd:long">
                        <xsd:annotation>
                            <xsd:documentation>
                        Password change timestamp. The PasswordSync service
                        uses this timestamp the order the changes in a queue.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SynchronizePasswordResponseType">
                <xsd:sequence>
                    <xsd:element name="result" type="tns:ResponseCodeType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TestRequestType">
                <xsd:sequence>
                    <xsd:element name="password" type="xsd:anyType">
                        <xsd:annotation>
                            <xsd:documentation>
                        Random string to validate the decryption on the server
                        side. The response will contains the decryptedPassword.
                            </xsd:documentation>
                            <xsd:appinfo>
                                <xjc:dom/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="clientEndpoint" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                        Hostname of the server where the Password Sync plug-in runs.
                        This parameter is used only for logging. The XML
                        Signature guaranties the Authentication.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TestResponseType">
                <xsd:sequence>
                    <xsd:element name="resourceName" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                        javax.jbi.security.subject
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="decryptedPassword" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                        Clear-text value of the password from the request.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="result" type="tns:ResponseCodeType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="resourceAccountId" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Distinguished name of the resource account.
                        Example: cn=Full Name,dc=example,dc=com
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="resourceAccountName" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Name of the resource account.
                        Example: UA005633
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="resourceAccountGUID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Object GUID of the user if the resource supports. If it's present
                        then it will override the resourceAccountId.
                        Example: e6b53293ca439345bcf6d152c98015f1
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="synchronizePasswordRequest" type="tns:SynchronizePasswordRequestType"/>
            <xsd:element name="synchronizePasswordResponse" type="tns:SynchronizePasswordResponseType"/>
            <xsd:element name="testRequest" type="tns:TestRequestType"/>
            <xsd:element name="testResponse" type="tns:TestResponseType"/>
        </xsd:schema>
    </types>
    <message name="testRequestMessage">
        <part name="body" element="ns:testRequest"/>
    </message>
    <message name="testResponseMessage">
        <part name="body" element="ns:testResponse"/>
    </message>
    <message name="synchronizePasswordRequestMessage">
        <part name="body" element="ns:synchronizePasswordRequest"/>
    </message>
    <message name="synchronizePasswordResponseMessage">
        <part name="body" element="ns:synchronizePasswordResponse"/>
    </message>
    <portType name="passwordSyncPortType">
        <operation name="test">
            <input name="testRequestInput" message="tns:testRequestMessage"/>
            <output name="testRequestOutput" message="tns:testResponseMessage"/>
        </operation>
        <operation name="synchronizePassword">
            <input name="synchronizePasswordRequestInput" message="tns:synchronizePasswordRequestMessage"/>
            <output name="synchronizePasswordRequestOutput" message="tns:synchronizePasswordResponseMessage"/>
        </operation>
    </portType>
    <binding name="passwordSyncBinding" type="tns:passwordSyncPortType">
        <wsp:PolicyReference URI="#passwordSyncBindingPolicy"/>
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="test">
            <soap:operation/>
            <input name="testRequestInput">
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#passwordSyncBinding_Input_Policy"/>
            </input>
            <output name="testRequestOutput">
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#passwordSyncBinding_Output_Policy"/>
            </output>
        </operation>
        <operation name="synchronizePassword">
            <soap:operation/>
            <input name="synchronizePasswordRequestInput">
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#passwordSyncBinding_Input_Policy"/>
            </input>
            <output name="synchronizePasswordRequestOutput">
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#passwordSyncBinding_Output_Policy"/>
            </output>
        </operation>
    </binding>
    <service name="passwordSyncService">
        <port name="passwordSyncPort" binding="tns:passwordSyncBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
    <plnk:partnerLinkType name="passwordSync">
        <plnk:role name="passwordSyncPortTypeRole" portType="tns:passwordSyncPortType"/>
    </plnk:partnerLinkType>
    <wsp:Policy wsu:Id="passwordSyncBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
                <sp:SymmetricBinding>
                    <wsp:Policy>
                        <sp:ProtectionToken>
                            <wsp:Policy>
                                <!--sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never"-->
                                <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                                    <wsp:Policy>
                                        <!--sp:RequireDerivedKeys/-->
                                        <sp:WssX509V3Token10/>
                                        <!--sp:RequireIssuerSerialReference/-->
                                        <sp:RequireThumbprintReference/>
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:ProtectionToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                        <!--sp:EncryptSignature/-->
                        <sp:OnlySignEntireHeadersAndBody/>
                    </wsp:Policy>
                </sp:SymmetricBinding>
                <sp:Wss11>
                    <wsp:Policy>
                        <!--sp:MustSupportRefKeyIdentifier/-->
                        <sp:MustSupportRefIssuerSerial/>
                        <sp:MustSupportRefThumbprint/>
                        <sp:MustSupportRefEncryptedKey/>
                        <!--sp:RequireSignatureConfirmation/-->
                    </wsp:Policy>
                </sp:Wss11>
                
                <sc:KeyStore wspp:visibility="private" alias="xws-security-server" callbackHandler="com.forgerock.openidm.services.wss.callback.IDMKeyStoreCallback" location="keystore.jks" storepass="changeit"/>
                <sc:TrustStore wspp:visibility="private" peeralias="xws-security-server" callbackHandler="com.forgerock.openidm.security.cert.TruststoreCallback" location="cacerts.jks" storepass="changeit"/>

                <!--sp:Trust13>
                    <wsp:Policy>
                        <sp:MustSupportIssuedTokens/>
                        <sp:RequireClientEntropy/>
                        <sp:RequireServerEntropy/>
                    </wsp:Policy>
                </sp:Trust13>
                <sp:EndorsingSupportingTokens>
                    <wsp:Policy>
                        <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                            <sp:RequestSecurityTokenTemplate>
                                <t:TokenType xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1</t:TokenType>
                                <t:KeyType xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</t:KeyType>
                                <t:KeySize xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512">256</t:KeySize>
                            </sp:RequestSecurityTokenTemplate>
                            <wsp:Policy>
                                <sp:RequireDerivedKeys/>
                                <sp:RequireInternalReference/>
                            </wsp:Policy>
                        </sp:IssuedToken>
                    </wsp:Policy>
                </sp:EndorsingSupportingTokens-->
                <sp:SignedSupportingTokens>
                    <wsp:Policy>
                        <!--sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient"-->
                        <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssX509V3Token10/>
                            </wsp:Policy>
                        </sp:X509Token>
                    </wsp:Policy>
                </sp:SignedSupportingTokens>
                <wspe:Utf816FFFECharacterEncoding xmlns:wspe="http://schemas.xmlsoap.org/ws/2004/09/policy/encoding" />
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>

    <wsp:Policy wsu:Id="passwordSyncBinding_Input_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                    <!--sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="Sequence" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="CreateSequence" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/-->
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="passwordSyncBinding_Output_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <!--sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="Sequence" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/>
                    <sp:Header Name="CreateSequence" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/-->
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>













